main {
  width: 100%;
}
@media (max-width: 920px) {
  .scroll-container {
    width: 100%;
    overflow-x: scroll;
  }
  .scroll-child {
    width: 135%;
  }
}

.form-container {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(228 228 231);
  margin: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
  text-align: center;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
}

#password-error {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

button.form-field {
  background: rgb(21 94 117);
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

button:disabled {
  cursor: default;
}

.continue-p {
  font-size: 12px;
  color: #7e7c7c;
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
}
canvas {
  width: 95% !important;
  height: 370px !important;
}
.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  color: gray;
}
.title {
  text-align: center;
  color: black;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.chartGrid {
  stroke: rgb(228, 225, 225);
}
