@media (max-width: 920px) {
  .scroll-container {
    width: 100%;
    overflow-x: scroll;
  }
  .scroll-child {
    width: 166%;
  }
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 950px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
